In [21]:
#1 is_two(anything)->bool
def is_two(n):
    return n == 2 or n == '2' #checks if something is literal #2 or string '2'

is_two(2)

True

In [22]:
is_two('2')

True

In [23]:
is_two(5)

False

In [18]:
is_two('five')

False

In [24]:
is_two('Two')

False

In [99]:
#2 is_vowel(character: str)-> bool
def is_vowel(string):
    return string in 'aeiouAEIOU'

In [100]:
is_vowel("a")

True

In [101]:
is_vowel("A")

True

In [102]:
is_vowel("B")

False

In [110]:
#3 is_consonant(character: str)-> bool
def is_consonant(string):
    return string not in ["a", "e", "i", "o", "u"]

In [31]:
is_consonant("b")

True

In [32]:
is_consonant("e")

False

In [111]:
#4 capatilize if_consonant(word: str)-> str
def word(string):
    first_letter = string[0]
    if is_consonant(first_letter):
        return string.capitalize()
    else:
        return string

In [112]:
word("banana")

'Banana'

In [113]:
word("hello")

'Hello'

In [114]:
word("i hope i am doing this right?")

'i hope i am doing this right?'

In [42]:
#5 calculate_tip(percentage: float, bill: float) ->float
def calculate_tip(tip_percent, total_bill):
    return tip_percent * total_bill

In [43]:
calculate_tip(.20, 100)

20.0

In [44]:
calculate_tip(.20, 13.72)

2.744

In [45]:
calculate_tip(.15, 63.50)

9.525

In [50]:
#6 apply_discount(price: float, discount:float)-> float
def apply_discount(og_price, disc_percentage):
    return (og_price) - (og_price * disc_percentage)

In [51]:
apply_discount(40, .50)

20.0

In [52]:
apply_discount(100, .35)

65.0

In [53]:
apply_discount(15, .10)

13.5

In [60]:
#7 handle_commas(s: str)-> float
def handle_commas(number):
    return int(number.replace(',', ''))
#syntax: .replace takes two arguments ('what to replace', 'what you're replacing it with)

In [61]:
handle_commas("1,000")

1000

In [62]:
handle_commas("1,234")

1234

In [63]:
#8 get_letter_grade(numeric_grade: float)-> str
def get_letter_grade(number_grade):
    if number_grade >= 90:
        return "A"
    elif number_grade >= 80:
        return "B"
    elif number_grade >= 70:
        return "C"
    elif number_grade >= 60:
        return "D"
    else:
        return "F"

In [65]:
get_letter_grade(70)

'C'

In [66]:
get_letter_grade (71)

'C'

In [67]:
get_letter_grade(88)

'B'

In [68]:
get_letter_grade(100)

'A'

In [69]:
get_letter_grade(55)

'F'

In [70]:
get_letter_grade(68)

'D'

In [73]:
#9 remove_vowels(s: str) ->str
def remove_vowels(string):
    for char in "aeiouAEIOU":
        string = string.replace(char, "")
    return string

In [74]:
remove_vowels('ABCDEabcde')

'BCDbcd'

In [75]:
remove_vowels('Super Mario SUNSHINE')

'Spr Mr SNSHN'

In [35]:
#10  normalize_name(s: str)-> str

def normalize_name(string):
    invalid_identifiers = ['!','@', '#','$','%','^','&','*','|', ':']
    for letter in string:
        if letter in invalid_identifiers:
            return string.replace(letter, "").lower().replace(" ", "_")

#need to figure out how to remove special char

In [36]:
normalize_name("Alicia Gonzalez: Bunny")

'alicia_gonzalez_bunny'

In [8]:
#11 cumulative_sum(l: list(int)) -> list(int)
def cumulative_sum(numlist):
    return [sum(numlist[0:x:1]) for x in range(len(numlist)+1)][1:]

In [9]:
cumulative_sum([1, 2, 3])

[1, 3, 6]

In [89]:
#bonus 1

def twelveto24(timestring):
    # Check if last two elements of time is AM and first two elements are 12
    if timestring[-2:] == "am" and timestring[:2] == "12":
        return "00" + timestring[2:-2]
    # remove the AM from input   
    elif timestring[-2:] == "am":
        return timestring[:-2]
    # Check if last two elements of time is PM and first two elements are 12   
    elif timestring[-2:] == "pm" and timestring[:2] == "12":
        return timestring[:-2]
    else:
        # Add 12 to hours and remove PM
        return str(int(timestring[:2]) + 12) + timestring[2:8]

In [90]:
twelveto24("01:45 pm")

'13:45 pm'

In [98]:
#bonus 2
def col_index(colname):
    if col_index = 'A':
        return 1
    elif col_index = 'B':
        return 2
    else col_index = 'AA':
        return 27

SyntaxError: invalid syntax (<ipython-input-98-397cec31d578>, line 3)