In [21]:
#1
def is_two(n):
    return n == 2 or n == '2'

is_two(2)

True

In [22]:
is_two('2')

True

In [23]:
is_two(5)

False

In [18]:
is_two('five')

False

In [24]:
is_two('Two')

False

In [25]:
#2 
def is_vowel(string):
    return string in ["a", "e", "i", "o", "u"]

In [27]:
is_vowel("a")

True

In [28]:
is_vowel("b")

False

In [29]:
is_vowel("aa")

False

In [30]:
#3
def is_consonant(string):
    return string not in ["a", "e", "i", "o", "u"]

In [31]:
is_consonant("b")

True

In [32]:
is_consonant("e")

False

In [37]:
#4
def word(string):
    return string.capitalize()

In [38]:
word("banana")

'Banana'

In [39]:
word("hello")

'Hello'

In [41]:
word("i hope i am doing this right?")

'I hope i am doing this right?'

In [42]:
#5
def calculate_tip(tip_percent, total_bill):
    return tip_percent * total_bill

In [43]:
calculate_tip(.20, 100)

20.0

In [44]:
calculate_tip(.20, 13.72)

2.744

In [45]:
calculate_tip(.15, 63.50)

9.525

In [50]:
#6 
def apply_discount(og_price, disc_percentage):
    return (og_price) - (og_price * disc_percentage)

In [51]:
apply_discount(40, .50)

20.0

In [52]:
apply_discount(100, .35)

65.0

In [53]:
apply_discount(15, .10)

13.5

In [60]:
#7
def handle_commas(number):
    return int(number.replace(',', ''))
#syntax: .replace takes two arguments ('what to replace', 'what you're replacing it with)

In [61]:
handle_commas("1,000")

1000

In [62]:
handle_commas("1,234")

1234

In [63]:
#8
def get_letter_grade(number_grade):
    if number_grade >= 90:
        return "A"
    elif number_grade >= 80:
        return "B"
    elif number_grade >= 70:
        return "C"
    elif number_grade >= 60:
        return "D"
    else:
        return "F"

In [65]:
get_letter_grade(70)

'C'

In [66]:
get_letter_grade (71)

'C'

In [67]:
get_letter_grade(88)

'B'

In [68]:
get_letter_grade(100)

'A'

In [69]:
get_letter_grade(55)

'F'

In [70]:
get_letter_grade(68)

'D'

In [73]:
#9
def remove_vowels(string):
    for char in "aeiouAEIOU":
        string = string.replace(char, "")
    return string

In [74]:
remove_vowels('ABCDEabcde')

'BCDbcd'

In [75]:
remove_vowels('Super Mario SUNSHINE')

'Spr Mr SNSHN'

In [117]:
#10  

def normalize_name(string):
    invalid_identifiers = '!@#$%^&*|:'
    return string.lower().replace(" ", "_")

#need to figure out how to remove special char

In [114]:
normalize_name("Alicia Gonzalez: Bunny")

'alicia_gonzalez:_bunny'

In [8]:
#11 
def cumulative_sum(numlist):
    return [sum(numlist[0:x:1]) for x in range(len(numlist)+1)][1:]

In [9]:
cumulative_sum([1, 2, 3])

[1, 3, 6]

In [10]:
#bonus 1
def twelveto24(string)

SyntaxError: invalid syntax (<ipython-input-10-92a0bf6dd404>, line 2)

In [11]:
#bonus 2
def col_index(colname)

SyntaxError: invalid syntax (<ipython-input-11-952f91ac05b1>, line 2)